body {
    background: var(--background);
    color: var(--primary);
    max-width: 1024px;
    font-family: sans-serif;

    --background: var(--dark-background);
    --primary: var(--dark-primary);
    --link: var(--dark-link);

    --dark-background: #4527a0;
    --dark-primary: #eaffe3;
    --dark-link: #A9FE75;

    --light-background: #eaffe3;
    --light-primary: #4527a0;
    --light-link: #1855fe;
}

#navbar{
    display: block;
    font-size: 25px;
    font-weight: bold;
    font-family: 'helvetica';
    background-image: url("./LI-banner.jpeg");
    position: 'fixed-top';
    margin-top: 0;
    text-align: center;
    width: 100%;
    list-style: none;
}

#name-banner{
  font-weight: bold;
  font-family: 'helvetica';
  font-size: 50px;
  text-align: center;
  color: var(--primary);
  display: inline-block;
}

#profile-pic{
    height: 300px;
    width: 300px;

}

a:link {
    text-decoration: none;
    color: var(--link);
 }
a:visited {
    text-decoration: none; 
    color: var(--link)}
a:hover {
    text-decoration: underline;
    color: var(--link);
    }
a:active {
    text-decoration: underline;
    color: var(--link);
    outline-style: solid;
    outline-color: green; }


table, th, td{
    border: 1px solid;
    border: black;
}

thead{
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}

article {
    display: flex;
}

.bio {
    display: flex;
}

@media (max-width: 1024px) {
    .bio {flex-direction: column;
    }
}

@media (max-width: 1024px) {
    article {flex-direction: column;
    }
}


:root {
    color-scheme: light dark; /* both supported */
  }
