

#navbar{
    display: inline-block;
    font-size: 1em;
    font-family: 'helvetica';
    background-color: aquamarine;
    color: black;
    position:fixed-top;
    margin-top: 0;
    width: 10vw;
    text-align: center;
    list-style: none;
    
}

#name-banner{
  font-weight: bold;
  font-family: 'helvetica';
  font-size: 1em;
  text-align: center;
  color: black;
  background-image: url("./LI-banner.jpeg");
  width: 10vw;
  height: 175px;

}



